@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.body-consultardocumentos {
  background-image: url("/public/fundo-form-conti.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 90vh;
}

.container-consultardocumentos {
    background-color: #ebecee;
    color: #0098c9;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
    margin-right: 100px;
    font-size: 13px;
    margin-top: -50px;
}

.consultarDocumentos {
    text-align: center;
    margin-top: 10px;
    color: #0098c9;
    font-size: 35px;
    margin-bottom: 20px;
}

.button-primary-consultardocumentos {
    background-color: #0098c9;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    box-shadow: 0px 10px 15px -14px #0098c9;
    margin-top: -10px;
    align-self: center; 
    margin-top: 10px;
    width: 200px;
}

.button-primary-consultardocumentos:hover {
    background-color: #2196f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.title-consultarDocumentos {
    color: #0098c9;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-section-consultardocumentos {
    display: flex;
    flex-direction: column;
    text-align: left; 
    align-items: flex-start; 
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .search-section-consultardocumentos label {
    margin-bottom: 10px;
    color: #211915;
    align-items: center;
    padding-left: 100px; 
    font-weight: bold; 
  }
  
  .search-section-consultardocumentos input[type="text"],
  .search-section-consultardocumentos input[type="date"] {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .search-section-consultardocumentos input[type="text"],
    .search-section-consultardocumentos input[type="date"] {
      width: 100%;
      margin-right: 0;
    }
  }