.dashboard-container {
    background-color: #ebecee;
    color: #0098c9;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    margin-right: 60px;
    font-size: 13px;
    margin-top: -35px;
  }
  
  .dashboard-container h2 {
    color: #0098c9;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 3px;
  }
  
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .chart-item {
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    min-height: 90px;
    background-color: #0098c9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .chart-item.line-chart {
    flex: 1;
    min-width: 380px;
    max-width: 400px; 
    min-height: 90px;
    background-color: #0098c9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .chart-item.bar-chart {
    flex: 1;
    min-width: 380px;
    max-width: 400px; 
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:  #0098c9;
  }
  
  .chart-item h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      flex-direction: column;
      align-items: center;
    }
  
    .chart-item {
      width: 80%;
      max-width: 100%; 
    }
  }

  .input-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center; 
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .input-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
  }
  
  .input-item {
    margin-right: 30px;
    flex-wrap: wrap;
  }
  
  .action-buttons {
    margin-top: -30px;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  
  .action-buttons .btn-primary {
    background-color: #0098c9; 
    color: #ffffff; 
    border: none; 
    padding: 7px;
    font-size: 15px;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
  }

  .action-buttons .btn-secondary {
    background-color: #6c757d;
    color: #ffffff; 
    border: none; 
    padding: 7px;
    font-size: 15px;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    display: inline-flex;
    align-items: center;
  }
  
  .action-buttons .btn-primary:hover {
    color: #0077a3;
  }

  .action-buttons .btn-secondary:hover {
    color: #5b646b;
  }
  
  .input-item label {
    margin-bottom: 5px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
  }
  
  .input-item input[type="text"],
  .input-item input[type="date"],
  .input-item select {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; 
    box-sizing: border-box;
    text-align: center;
    
  }
    
  .input-item input[type="text"]:focus,
  .input-item input[type="date"]:focus,
  .input-item select:focus {
    border-color: #48599e;
    outline: none;
    }
  