.dashboard-container {
  position: relative;
  background-color: #ebecee;
  color: #0098c9;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  margin-right: 60px;
  font-size: 13px;
  margin-top: -35px;
  z-index: 1;
}

  .dashboard-container h2 {
    color: #0098c9;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 3px;
  }
  
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .chart-item {
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    min-height: 90px;
    background-color: #0098c9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .chart-item.line-chart {
    flex: 1;
    min-width: 380px;
    max-width: 400px; 
    min-height: 90px;
    background-color: #0098c9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .chart-item.bar-chart {
    flex: 1;
    min-width: 380px;
    max-width: 400px; 
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:  #0098c9;
  }
  
  .chart-item h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      flex-direction: column;
      align-items: center;
    }
  
    .chart-item {
      width: 80%;
      max-width: 100%; 
    }
  }

  .input-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center; 
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .input-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
  }
  
  .input-item {
    margin-right: 30px;
    flex-wrap: wrap;
  }
  
  .action-buttons {
    margin-top: -30px;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  
  .action-buttons .btn-primary {
    background-color: #0098c9; 
    color: #ffffff; 
    border: none; 
    padding: 7px;
    font-size: 15px;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
  }

  .action-buttons .btn-secondary {
    background-color: #6c757d;
    color: #ffffff; 
    border: none; 
    padding: 7px;
    font-size: 15px;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    display: inline-flex;
    align-items: center;
  }
  
  .action-buttons .btn-primary:hover {
    color: #0077a3;
  }

  .action-buttons .btn-secondary:hover {
    color: #5b646b;
  }
  
  .input-item label {
    margin-bottom: 5px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
  }
  
  .input-item input[type="text"],
  .input-item input[type="date"],
  .input-item select {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; 
    box-sizing: border-box;
    text-align: center;
    padding: 1px;
  }
    
  .input-item input[type="text"]:focus,
  .input-item input[type="date"]:focus,
  .input-item select:focus {
    border-color: #48599e;
    outline: none;
    
  }

  .config-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1040;
    overflow: auto; 
  }

  .config-modal-content {
    position: relative;
    width: 650px;
    max-height: 600px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: left;
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  .modal-config-dash {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-config {
    color: #0098c9;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: -5px;
  }
  
    .modal-config {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    .close-button-dash {
    position: absolute;
    top: -19px;
    right: -15px;
    cursor: pointer;
    padding: 0px 5px;
    color: #211915;
    border-radius: 3px;
    background-color: transparent;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
  }

  .close-button-dash:hover {
    color: #ff0000;
    transform: scale(1.3); 
  }

  .input-group-dash {
    text-align: center;
    margin-bottom: 20px;
  }

  .input-group-dash h3 {
    color: #0098c9;
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 18px;
  }
  
  .input-item-dash {
    display: inline-block;
    margin: 0 10px;
  }
  
  .input-item-dash label {
    color: #333;
    display: block;
  }

  .input-group-config {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group-config h3 {
    color: #0098c9;
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  
  .input-item-config {
    margin: 10px 0;
    width: 100%;
  }
  
  .input-item-config label {
    display: block;
    color: #333;
    margin-bottom: 5px;
  }
  
  .input-item-config input {
    width: 100%;
    margin-bottom: 7px;
  }

  .small-input-selecao {
    max-width: 200px; 
  }
  
  .long-input-dash {
    max-width: 400px; 
  }

  .save-button-config {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 18px;
    margin-bottom: -10px;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
    box-shadow: 0px 1px 40px -12px #0098c9;
  }
  
  .save-button-config:hover {
    background-color: #0056b3;
  }

  .input-item-dash input[type="text"],
  .input-item-dash input[type="number"],
  .input-item-dash select {
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    flex: 1;
    text-align: center;
    width: 180px;
    font-size: 13px;
    }
    
  .input-item-dash input[type="text"]:focus,
  .input-item-dash input[type="number"]:focus,
  .input-item-dash select:focus {
    border-color: #48599e;
    outline: none;
    }

  .input-item-config input[type="text"],
  .input-item-config input[type="number"],
  .input-item-config select {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    flex: 1;
    text-align: center;
    font-size: 12px;
    }
    
  .input-item-config input[type="text"]:focus,
  .input-item-config input[type="number"]:focus,
  .input-item-config select:focus {
    border-color: #48599e;
    outline: none;
    }

    .input-dash-icon {
      position: relative;
      display: flex;
      align-items: center;
    }
    
    .input-dash-icon input {
      width: calc(100% - 10px); 
      padding: 8px;
      font-size: 16px;
    }
    
    .input-dash-icon svg {
      position: absolute;
      right: 10px;
      pointer-events: none;
    }
  
    .input-config-icon {
      position: relative;
      display: flex;
      align-items: center;
    }
    
    .input-config-icon input {
      width: calc(100% - 10px); 
      padding: 8px;
      font-size: 16px;
    }
    
    .input-config-icon svg {
      position: absolute;
      right: 245px;
      top: 5px;
      pointer-events: none;
    }

    .input-selecao-icon {
      position: relative;
      display: flex;
      align-items: center;
    }
    
    .input-selecao-icon input {
      width: calc(100% - 10px); 
      padding: 8px;
      font-size: 16px;
    }
    
    .input-selecao-icon svg {
      position: absolute;
      right: 445px;
      top: 5px;
      pointer-events: none;
    }
  
    .input-estab-icon {
      position: relative;
    }
    
    .input-estab-icon svg {
      position: absolute;
      left: 6px; 
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: 12px;
      color: #333;
    }
    
    .input-estab-icon input {
      padding-left: 20px; 
    }

    .input-item-dash-rec {
      display: inline-block;
      margin: 0 10px;
    }
    
    .input-item-dash-rec label {
      color: #333;
      display: block;
    }

    .input-item-dash-rec input[type="number"],
    .input-item-dash select {
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 5px;
      margin-left: 5px;
      flex: 1;
      text-align: center;
      width: 180px;
      font-size: 13px;
      }
      
    .input-item-dash-rec input[type="number"]:focus,
    .input-item-dash select:focus {
      border-color: #48599e;
      outline: none;
      }
    
      .input-item-dash-rec svg {
        position: absolute;
        right: 206px;
        top: 149px;
        color: #333;
        cursor: pointer;
        font-size: 13px;
      }


