.body-cargaxml {
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container-cargaxml {
    position: relative;
    background-color: #ebecee;
    color: #0098c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    margin-left: -10px;
    margin-right: 50px;
    font-size: 13px;
    margin-top: -38px;
    min-height: 600px;
    z-index: 1;
}

.title-cargaxml {
    text-align: center;
    margin-bottom: 20px;
    color: #0098c9;
    font-size: 28px;
}

.document-info-cargaxml {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.row-cargaxml, .row-cargaxml-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px; 
}

.col-cargaxml-one {
    margin-right: 50px;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.col-cargaxml-one input {
    margin-left: 5px;
    padding: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    width: 100px;
    text-align: center;
}

.col-cargaxml-one label {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: #555;
}

.col-cargaxml {
    margin-right: 10px;
    display: flex;
    align-items: center;
    min-width: 200px; 
}

.col-cargaxml label {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: #555;
}

.col-cargaxml input, .col-cargaxml select {
    padding: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.col-cargaxml-large {
    margin-right: 20px;
    align-items: center;
}

.col-cargaxml-large input {
    padding: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    width: 100%; 
}

.col-cargaxml-large {
    flex: 2;
    margin-left: -40px;
}

.col-cargaxml .cargaxml-uf {
    width: 50%;
}

.col-cargaxml .cargaxml-serie {
    width: 50%;
}