.modal-backdrop-searchuser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-searchuser {
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 520px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-header-searchuser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
}

.title-searchuser {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #0098c9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.close-button-searchuser {
  position: absolute;
  top: 1px;
  right: 5px;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  color: #211915;
  border-radius: 3px;
  background-color: transparent;
  font-size: 25px;
  transition: background-color 0.3s, color 0.3s;
  border: #fff;
}

.close-button-searchuser:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.modal-body-searchuser {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
}

.search-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.search-input-newuser {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.search-input-newuser:focus {
  border-color: #5a67d8;
  box-shadow: 0 0 0 3px rgba(90, 103, 216, 0.3);
}

.filter-button {
  background: #0098c9;
  border: 1px solid #0098c9;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-left: 0;
  border-radius: 0 6px 6px 0;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.filter-button-label {
  margin-left: 4px;
  font-size: 14px;
}

.filter-button:hover {
  background-color: #0077a0;
  border-color: #0077a0;
}

.filter-dropdown-container {
  position: relative;
}

.filter-dropdown-menu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 8px;
  padding: 8px 0;
  list-style: none;
  width: 150px;
}

.filter-dropdown-menu li {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.filter-dropdown-menu li:hover {
  background-color: #f1f1f1;
}

.list-header-newuser {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 2px solid #e0e0e0;
  font-weight: bold;
  font-size: 16px;
  background-color: #f9f9f9;
  border-radius: 6px 6px 0 0;
}

.header-code-newuser,
.header-name-newuser {
  color: #0098c9;
}

.header-code-newuser {
  width: 30%;
}

.header-name-newuser {
  width: 70%;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #e0e0e0;
  border-radius: 0 0 6px 6px;
  background: white;
  max-height: 400px;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-list li:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.user-list li:hover {
  background-color: #f0f0f0;
}

.list-item-code-newuser {
  width: 30%;
  color: #333;
}

.list-item-name-newuser {
  width: 70%;
  color: #333;
}
