@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.modal-backdrop-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1040;
}

.title-user {
  color: #0098c9;
  background-color: #fff;
  margin-top: -20px;
  margin-bottom: 18px;
}

.modal-body-user {
  background-color: #ebecee;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  border: 2px solid #0098c9;
  text-align: left;
  display: block;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.close-button-usuario {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  color: #fff;
  border-radius: 3px;
  background-color: #d11;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border: #fff;
}

.close-button-usuario:hover {
  color: #fff;
  background-color: #a00;
}
.button-title-user {
  display: flex;
  align-items: center;
  gap: 0px;
}

.toggle-text {
  font-size: 14px;
}

.toggle-button {
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
}

.toggle-button:active {
  transform: scale(0.95);
}
.toggle-button:focus {
  outline: none;
}

.fa-toggle-on {
  color: #4caf50;
}

.fa-toggle-off {
  color: #f44336;
}

.quadrante-visualizar {
  background-color: #ebecee;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border: 2px solid #0098c9;
  text-align: left;
  display: grid;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  margin-top: 30px;
}
