.close-button-audit {
  float: right;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  color: #fff;
  border-radius: 3px;
  background-color: #d11;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border: #fff;
  margin-top: 5px;
}

.title-audit {
  margin-top: 8px;
}
.quadrante-title-audit {
  background-color: #ebecee;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border: 2px solid #0098c9;
  text-align: left;
  display: block;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  margin-top: 10px;
}

.user-audit {
  color: #211915;
  font-weight: normal;
}
