.modal-backdrop-searchuser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content-searchuser {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 490px;
  margin: 150px auto;
  padding: 16px;
  position: relative;
}

.modal-searchuser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.modal-body-searchuser {
  display: flex;
  flex-direction: column;
  max-height: 600px; /* Certifique-se de que a lista tenha altura suficiente */
  overflow-y: auto;
}

.title-searchuser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.search-input-newuser {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-header-newuser {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.header-name-newuser {
  margin-left: 10px; 
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: white;
  max-height: 400px; 
  overflow-y: scroll;
  z-index: 1001;
}

.user-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  cursor: pointer;
}

.user-list li:hover {
  background-color: #f0f0f0;
}

.list-item-code-newuser {
  width: 30%;
}

.list-item-name-newuser {
  width: 40%;
}

.close-button-searchuser {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  color: #fff;
  border-radius: 3px;
  background-color: #d11;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border: #fff;
}

.close-button-searchuser:hover {
  color: #fff;
  background-color: #a00;
}
