.modal-backdrop-search-establishment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content-search-establishment {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    padding: 16px;
    position: relative;
  }
  
  .modal-header-search-establishment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .modal-body-search-establishment {
    display: flex;
    flex-direction: column;
  }
  
  .input-search-establishment {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown-search-establishment {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background: white;
    z-index: 1001;
  }
  
  .dropdown-search-establishment li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-search-establishment li:hover {
    background-color: #f0f0f0;
  }
  
  .close-button-search-establishment {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    color: #fff;
    border-radius: 3px;
    background-color: #d11;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    border: #fff;
  }

  .close-button-search-establishment:hover {
    color: #fff;
    background-color: #a00;
  }
  