@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.modal-backdrop-editempresa {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1040;
  overflow: auto; 
}

.title-editempresa {
    color: #0098c9;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 7px;
  }

.modal-content-editempresa {
  position: relative;
  width: 500px; 
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto; 
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: left;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.modal-editempresa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button-editempresa {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  padding: 0px 5px;
  color: #211915;
  background-color: transparent;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
}

.close-button-editempresa:hover {
  color: #ff0000;
  transform: scale(1.3);
}


.button-primary-editempresa {
  background-color: #0098c9;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0px 10px 15px -14px #0098c9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.button-secondary-editempresa {
  background-color: #ccc;
  color: #000;
  background-color: #0098c9;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.button-primary-editempresa:hover {
  background-color: #007ca6;
}

.modal-footer-editempresa {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#geralButton,
#traducaoButton,
#traducaoButtonB,
#configuracoesButton,
#servidorButton {
  background-color: #ffffff;
  color: #333;
  border: 2px solid #ddd;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-right: 5px; 
}

#geralButton:hover,
#traducaoButton:hover,
#traducaoButtonB:hover,
#configuracoesButton:hover,
#servidorButton:hover {
  background-color: #f0f0f0;
}

#geralButton.active,
#traducaoButton.active,
#traducaoButtonB.active,
#configuracoesButton.active,
#servidorButton.active {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

.container-editempresa {
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin: 15px 15px;
    margin-top: 4px;
}

.container-editempresa div {
    margin-bottom: 1px;
    padding: 1px;
  }

  .container-editempresa span {
    margin-left: 4px;
    color: #211915;
    text-align: left;
    font-size: 13px;
  }
  
  .container-editempresa strong {
    color: #0098c9;
    margin-right: 0px;
    font-size: 13px;

  }
  
  label {
    display: block;
    align-items: center; 
    flex-direction: center;
    margin-bottom: 10px;
  }

  .quadrante-editempresatraducao input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .quadrante-editempresa input[type="text"],
  .quadrante-editempresa input[type="password"],
  .quadrante-editempresa input[type="number"],
  .quadrante-editempresa input[type="date"],
  select {
    padding: 1px;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding-left: 20px;
    width: 400px;
  }
  
  .quadrante-editempresa input[type="text"]:focus,
  .quadrante-editempresa input[type="password"]:focus,
  .quadrante-editempresa input[type="number"]:focus,
  .quadrante-editempresa input[type="date"]:focus,
  select:focus {
    border-color: #0056b3;
  }
  
  .quadrante-editempresa input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .btn-group-editempresa {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .btn-group-editempresa button {
    background: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-group-editempresa button.active {
    background-color: #007bff;
    color: white;
  }
  
  .button-primary-editempresa {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button-primary-editempresa:hover {
    background-color: #0056b3;
  }
  
  .button-secondary-editempresa {
    background-color: #939196;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 5px;
    margin-bottom: -5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button-secondary-editempresa:hover {
    background-color: #545b62;
  }

.quadrante-editempresa {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  text-align: left;
  color: #0098c9;
  margin-top: 14px;
  margin: 15px 15px;
  gap: 5px;
}

.quadrante-editempresatraducao {
    flex-direction: column;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    text-align: left;
    color: #0098c9;
    margin-top: 14px;
    flex-wrap: wrap;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin: 15px 15px;
  }


  .quadrante-editempresaconfiguracoes {
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    text-align: left;
    color: #0098c9;
    margin-top: 14px;
    flex-wrap: wrap;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    margin: 15px 15px;
  }

  .quadrante-editempresaconfiguracoes input {
    margin-bottom: 5px;
  }

  .quadrante-editempresaconfiguracoes input[type="text"],
  .quadrante-editempresaconfiguracoes input[type="password"],
  .quadrante-editempresaconfiguracoes input[type="number"],
  .quadrante-editempresaconfiguracoes input[type="date"],
  select {
    padding: 1px;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
    margin-left: 4px;
    padding-left: 20px;
    width: 300px;
  }
  
  .quadrante-editempresaconfiguracoes input[type="text"]:focus,
  .quadrante-editempresaconfiguracoes input[type="password"]:focus,
  .quadrante-editempresaconfiguracoes input[type="number"]:focus,
  .quadrante-editempresaconfiguracoes input[type="date"]:focus,
  select:focus {
    border-color: #0056b3;
  }
  
  .quadrante-editempresa input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
  }

.quadrante-editempresa p {
  color: #211915;
  text-align: left;
  margin: 6px;
}
.quadrante-editempresa strong {
  color: #0098c9;
  margin-top: 1px;
}

.quadrante-editempresa ul {
  list-style-type: none;
  color: #211915;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.quadrante-editempresa li {
  margin-right: 10px;
}

@media (max-width: 600px) {
    .modal-content-editempresa {
      padding: 10px;
      max-width: 100%;
      margin: 10px;
    }
  
    .button-primary-editempresa,
    .button-secondary-editempresa {
      padding: 5px 10px;
      font-size: 12px;
    }
  }

  .modal-contentedit-fixed {
    min-height: 660px; 
    max-height: 600px; 
    overflow-y: auto; 
    min-width: 760px;
    max-width: 500px; 
    overflow-x: auto; 
  }
  
  .modal-contentedit-fixed::-webkit-scrollbar {
    width: 9px; 
    height: 9px;
  }
  
  .modal-contentedit-fixed::-webkit-scrollbar-thumb {
    background-color: #c1c1c1; 
    border-radius: 4px;
  }
  
  .modal-contentedit-fixed::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }
  
  .modal-contentedit-fixed::-webkit-scrollbar-track {
    background-color: #eaeaea; 
    border-radius: 4px;
  }
  

  .input-containeredit {
    position: relative;
  }
  
  .input-containeredit .icon {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
    font-size: 10px;
    color: #939196;
  }
  
.flex-break {
    max-width: 70%; 
}

.flex-break strong {
    white-space: pre-wrap;
    word-wrap: break-word; 
}

.proxy-edit {
  margin-top: 15px;

}

.proxy-edit strong {
  margin-right: 3px; 
}


.input-containeredit {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-left {
  position: absolute;
  left: 10px;
  top: 30%;
  z-index: 10;
  font-size: 10px;
  color: #939196;
}

.icon-right {
  position: absolute;
  right: 20px;
  top: 25%;
  cursor: pointer;
  z-index: 10;
  font-size: 12px;
  color: #0098c9;
}

.icon-right:hover {
  color: #006080;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-backdrop-alterar-senha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-alterar-senha {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 100%;
}

.modal-content-alterar-senha h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.modal-content-alterar-senha form div {
  margin-bottom: 10px;
}

.modal-content-alterar-senha button {
  margin-right: 10px;
}

.radix-tooltip-content {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.radix-tooltip-arrow {
  fill: #333;
}

.input-alterar-senha {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px 6px 6px 6px;
  font-size: 12px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  width: 80%;
  margin-top: 1px;
}

.input-alterar-senha:focus {
  border-color: #5a67d8;
  box-shadow: 0 0 0 3px rgba(90, 103, 216, 0.3);
}

.submit-alterar-senha {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-alterar-senha:hover {
  background-color: #0056b3;
}

.button-alterar-senha {
  background-color: #939196;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 5px;
  margin-bottom: -5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-alterar-senha:hover {
  background-color: #545b62;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-toggle-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
}

.icon-editeye {
  position: absolute;
  right: 43px;
  top: 25%;
  z-index: 10;
  font-size: 11px;
  color: #939196;
}
