/* styleEmpresa.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.title-details {
  color: #0098c9;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 7px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
  color: #fff;
  border-radius: 3px;
  background-color: #d11;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  border: #fff;
}

.modal-close:hover {
  color: #fff;
  background-color: #a00;
}

#geralButton,
#traducaoButton,
#traducaoButtonB,
#configuracoesButton,
#servidorButton {
  background-color: #0098c9;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-right: 6px;
}

#geralButton:hover,
#traducaoButton:hover,
#traducaoButtonB:hover,
#configuracoesButton:hover,
#servidorButton:hover {
  background-color: #0077a9;
}

#geralButton:focus,
#traducaoButton:focus,
#traducaoButtonB:focus,
#configuracoesButton:focus,
#servidorButton:focus {
  outline: none;
}

.container-datails {
  background-color: #ebecee;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  border: 2px solid #0098c9;
}

.container-datails p {
  margin: 5px 0;
  text-align: left;
}

.container-datails strong {
  color: #0098c9;
}

.quadrante-details {
  background-color: #ebecee;
  border: 2px solid #0098c9;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-align: left;
  color: #0098c9;
  margin-top: 10px;
}

.quadrante-details p {
  color: #211915;
  text-align: left;
  margin: 6px;
}

.quadrante-details strong {
  color: #0098c9;
}

.quadrante-details ul {
  list-style-type: none;
  color: #211915;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.quadrante-details li {
  margin-right: 10px;
}

.quadrante-traducao {
  background-color: #ebecee;
  border: 2px solid #0098c9;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-align: left;
  color: #0098c9;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Cria duas colunas de igual largura */
}

.quadrante-traducao p {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 2px;
}

#infoArmazena {
  padding: 1px;
  font-size: 12px;
  border: 2px solid #0098c9;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  color: #211915;
  list-style-type: none;
  margin: 3px;
}
