/* styleEmpresa.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.title-details {
  color: #0098c9;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 7px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  color: #211915;
  border-radius: 3px;
  background-color: transparent;
  font-size: 25px;
  transition: background-color 0.3s, color 0.3s;
  border: #fff;
}

#geralButton,
#traducaoButton,
#traducaoButtonB,
#configuracoesButton,
#servidorButton {
  background-color: #ffffff;
  color: #333;
  border: 2px solid #ddd;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-right: 5px; 
}

#geralButton:hover,
#traducaoButton:hover,
#traducaoButtonB:hover,
#configuracoesButton:hover,
#servidorButton:hover {
  background-color: #f0f0f0;
}

#geralButton.active,
#traducaoButton.active,
#traducaoButtonB.active,
#configuracoesButton.active,
#servidorButton.active {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

.container-datails {
  border-radius: 8px;
  padding: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 15px 0px;
}

.container-datails span {
  margin-left: 4px;
  color: #211915;
  text-align: left;
  font-size: 14px;
}

.container-datails p {
  margin-bottom: 1px;
  padding: 3px;
}

.container-datails strong {
  color: #0098c9;
  margin-right: 0px;
  font-size: 14px;
}

.quadrante-details {
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-align: left;
  color: #0098c9;
  margin-top: 15px;
}

.quadrante-details p {
  color: #211915;
  text-align: left;
  margin: 6px;
}

.quadrante-details strong {
  color: #0098c9;
}

.quadrante-details ul {
  list-style-type: none;
  color: #211915;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.quadrante-details li {
  margin-right: 10px;
}

.quadrante-traducao {
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-align: left;
  color: #0098c9;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quadrante-traducao p {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 2px;
}
