@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.modal-backdrop-editempresa {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1040;
}

.title-editempresa {
    color: #0098c9;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 4px;
  }

.modal-content-editempresa {
  position: relative;
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: left;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.modal-editempresa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body-editempresa {
  background-color: #ebecee;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border: 2px solid #0098c9;
  text-align: left;
  display: block;
}

.close-button-editempresa {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  background-color: #d11;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
}

.close-button-editempresa:hover {
  color: #fff;
  background-color: #a00;
}

.quadrante-editempresa {
  background-color: #ebecee;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border: 2px solid #0098c9;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.button-primary-editempresa,
.button-secondary-editempresa {
  background-color: #0098c9;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0px 10px 15px -14px #0098c9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.button-secondary-editempresa {
  background-color: #ccc;
  color: #000;
}

.button-primary-editempresa:hover,
.button-secondary-editempresa:hover {
  background-color: #007ca6;
}

.modal-footer-editempresa {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#geralButton,
#traducaoButton,
#traducaoButtonB,
#configuracoesButton,
#servidorButton {
  background-color: #0098c9;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-right: 6px;
}

#geralButton:hover,
#traducaoButton:hover,
#traducaoButtonB:hover,
#configuracoesButton:hover,
#servidorButton:hover {
  background-color: #0077a9;
}

#geralButton:focus,
#traducaoButton:focus,
#traducaoButtonB:focus,
#configuracoesButton:focus,
#servidorButton:focus {
  outline: none;
}

.container-editempresa {
  background-color: #ebecee;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  border: 2px solid #0098c9;
  text-align: left
}

.container-editempresa span {
  margin-left: 5px;
  color: #211915;
  text-align: left;
}

.container-editempresa strong {
  color: #0098c9;
}

.quadrante-editempresa {
  background-color: #ebecee;
  border: 2px solid #0098c9;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-align: left;
  color: #0098c9;
  margin-top: 10px;
}

.quadrante-editempresa p {
  color: #211915;
  text-align: left;
  margin: 6px;
}

.quadrante-editempresa strong {
  color: #0098c9;
}

.quadrante-editempresa ul {
  list-style-type: none;
  color: #211915;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.quadrante-editempresa li {
  margin-right: 10px;
}


